:root {
  --container: 1400px;
}
@media (max-width: 1373px) {
  :root {
    --container: 1400px;
  }
}
@media (max-width: 1023px) {
  :root {
    --container: 1240px;
  }
}
@media (max-width: 767px) {
  :root {
    --container: 880px;
  }
}
@media (max-width: 424px) {
  :root {
    --container: 375px;
  }
}

.container {
  max-width: var(--container);
  margin: 0 auto;
}

header {
  background-color: #f8f1d6;
  margin-bottom: 80px;
  position: sticky;
  top: 0;
  transition: background-color 0.5s ease;
  z-index: 2;
}
header .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
}
header .header .logo {
  cursor: pointer;
}
header .header .a-navs {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
header .header .a-navs .menu {
  display: none;
  cursor: pointer;
  transition: 0.5s ease;
}
@media (max-width: 794px) {
  header .header .a-navs .menu {
    display: flex;
  }
}
header .header .a-navs .menu:hover {
  background-color: #fff;
  padding: 6px;
  border-radius: 10px;
}
header .header .a-navs .a-nav {
  text-decoration: none;
  font-size: 16px;
  color: #78350F;
}
@media (max-width: 794px) {
  header .header .a-navs .a-nav {
    display: none;
  }
}
header .header .a-navs .sign-up {
  font-size: 16px;
  color: #78350F;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #78350F;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s ease;
}
@media (max-width: 794px) {
  header .header .a-navs .sign-up {
    display: none;
  }
}
header .header .a-navs .sign-up:hover {
  background-color: #fff;
}
header .menu-burger {
  display: none;
  transition: all 0.7s ease;
  padding: 5px 0;
}
header .active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .active .menu-a {
  text-decoration: none;
  padding: 5px 10px;
}
header .active .menu-a:hover {
  background-color: #8b9fbb;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f8f1d6;
}
body .collection .collection-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}
@media (max-width: 1300px) {
  body .collection .collection-text {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 533px) {
  body .collection .collection-text .collection-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 533px) {
  body .collection .collection-text .collection-img .collection-png {
    width: 70%;
  }
}
body .collection .collection-text .collection-title {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
body .collection .collection-text .collection-title .collection-h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 110%;
  color: #0F172A;
  margin: 0;
}
@media (max-width: 1300px) {
  body .collection .collection-text .collection-title .collection-h1 {
    font-size: 52px;
    text-align: center;
  }
}
body .collection .collection-text .collection-title .collection-p {
  font-size: 18px;
  font-weight: 400;
  color: #0F172A;
  line-height: 160%;
}
@media (max-width: 1300px) {
  body .collection .collection-text .collection-title .collection-p {
    text-align: center;
  }
}
body .collection .collection-text .collection-title .collection-btn-and-demo {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
@media (max-width: 1300px) {
  body .collection .collection-text .collection-title .collection-btn-and-demo {
    justify-content: center;
  }
}
body .collection .collection-text .collection-title .collection-btn-and-demo .collection-btn {
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #78350F;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  transition: 0.5s ease;
}
body .collection .collection-text .collection-title .collection-btn-and-demo .collection-btn:hover {
  background-color: #fff;
}
body .collection .collection-text .collection-title .collection-btn-and-demo .collection-demo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.5s ease;
}
body .collection .collection-text .collection-title .collection-btn-and-demo .collection-demo .demo-p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
}
body .collection .collection-text .collection-title .collection-btn-and-demo .collection-demo:hover {
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07), 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
  background-color: #fff;
  border: 2px solid #78350F;
  border-radius: 10px;
  padding: 0 10px;
}
body .collection .collection-cards {
  margin: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}
@media (max-width: 1300px) {
  body .collection .collection-cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
body .collection .collection-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 374px;
  gap: 16px;
}
@media (max-width: 1300px) {
  body .collection .collection-cards .card {
    align-items: center;
  }
}
body .collection .collection-cards .card .card-h2 {
  margin: 0;
  font-size: 20px;
  line-height: 110%;
  color: #0F172A;
}
body .collection .collection-cards .card .card-p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
}
@media (max-width: 1300px) {
  body .collection .collection-cards .card .card-p {
    text-align: center;
  }
}
body .goods {
  background-color: #0F172A;
  padding: 80px;
  background-image: url(../imgs/Backlights.png);
  background-position: top;
}
@media (max-width: 533px) {
  body .goods {
    padding: 20px;
  }
}
body .goods .goods-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 794px) {
  body .goods .goods-text {
    flex-direction: column;
  }
}
body .goods .goods-text .goods-h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  color: #fff;
}
@media (max-width: 1300px) {
  body .goods .goods-text .goods-h2 {
    font-size: 42px;
  }
}
body .goods .goods-text .goods-btn {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 12px 24px;
  border-radius: 8px;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s ease;
}
@media (max-width: 794px) {
  body .goods .goods-text .goods-btn {
    margin-bottom: 20px;
  }
}
body .goods .goods-text .goods-btn:hover {
  background-color: #fff;
  color: #0F172A;
}
body .goods .goods-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
}
@media (max-width: 1300px) {
  body .goods .goods-cards {
    flex-direction: column;
    align-items: center;
  }
}
body .goods .goods-cards .goods-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #0F172A;
  background: #0F172A;
  max-width: 395px;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07), 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
}
@media (max-width: 400px) {
  body .goods .goods-cards .goods-card {
    max-width: 300px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 400px) {
  body .goods .goods-cards .goods-card .goods-img {
    max-width: 300px;
    border-radius: 10px 10px 0 0;
  }
}
body .goods .goods-cards .goods-card .goods-desc {
  padding: 32px 32px 0px 32px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
body .goods .goods-cards .goods-card .goods-desc .goods-card-h2 {
  color: #FFFFFF;
  margin: 0;
}
body .goods .goods-cards .goods-card .goods-desc .goods-card-p {
  color: #FFFFFF;
  margin: 0;
}
body .goods .goods-cards .goods-card .goods-desc .goods-card-btn {
  color: #FFFFFF;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #fff;
  padding: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 16px 0 32px 0;
  gap: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.5s ease;
}
body .goods .goods-cards .goods-card .goods-desc .goods-card-btn:hover {
  background-color: #475569;
}
body .join {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .join .join-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  gap: 80px;
  padding: 80px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1300px) {
  body .join .join-div {
    flex-direction: column;
  }
}
@media (max-width: 794px) {
  body .join .join-div {
    padding: 20px;
  }
}
body .join .join-div .join-text {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: start;
}
body .join .join-div .join-text .join-h1 {
  font-size: 56px;
  font-weight: 800;
  color: #0F172A;
  margin: 0;
}
body .join .join-div .join-text .join-ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
body .join .join-div .join-text .join-ul .join-li {
  font-size: 20px;
  font-weight: 400;
  color: #0F172A;
  line-height: 180%;
  list-style-image: url(../imgs/check.png);
}
body .join .join-div .join-text .join-btn {
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #78350F;
  transition: 0.5s ease;
}
body .join .join-div .join-text .join-btn:hover {
  color: #fff;
  background-color: #78350F;
}
@media (max-width: 636px) {
  body .join .join-div .join-img {
    width: 80%;
  }
}
@media (max-width: 636px) {
  body .join .join-div .join-img .join-png {
    width: 100%;
  }
}
body .comments {
  margin: 160px 0;
}
body .comments .comments-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 636px) {
  body .comments .comments-title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body .comments .comments-title .comments-h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  color: #0F172A;
  margin-top: 0;
}
@media (max-width: 1300px) {
  body .comments .comments-title .comments-h2 {
    font-size: 42px;
    text-align: center;
  }
}
body .comments .comments-title .swiper-navigation {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  margin-bottom: 40px;
}
body .comments .comments-title .swiper-navigation .prev {
  border-radius: 100px;
  border: 2px solid #78350F;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.07), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 12px;
  cursor: pointer;
  transition: 0.5s ease;
}
body .comments .comments-title .swiper-navigation .prev:hover {
  background-color: #fff;
}
body .comments .comments-title .swiper-navigation .next {
  border-radius: 100px;
  border: 2px solid #78350F;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.07), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 12px;
  cursor: pointer;
  transition: 0.5s ease;
}
body .comments .comments-title .swiper-navigation .next:hover {
  background-color: #fff;
}
body .comments .swiper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
  max-width: 1280px;
}
@media (max-width: 1300px) {
  body .comments .swiper {
    max-width: 1000px;
  }
}
body .comments .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  max-width: 314px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 32px;
  align-items: start;
  user-select: none;
}
@media (max-width: 400px) {
  body .comments .swiper .swiper-wrapper .swiper-slide {
    max-width: 250px;
  }
}
body .comments .swiper .swiper-wrapper .swiper-slide .comment-p {
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  color: #000;
}
body .comments .swiper .swiper-wrapper .swiper-slide .commentor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
body .comments .swiper .swiper-wrapper .swiper-slide .commentor .avtor .name {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #000;
  margin: 0;
}
body .comments .swiper .swiper-wrapper .swiper-slide .commentor .avtor .job {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #475569;
  margin: 0;
}
body .advantages {
  padding: 80px 80px 128px 80px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 400px) {
  body .advantages {
    padding: 80px 40px 40px 80px;
  }
}
body .advantages .advantages-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
}
body .advantages .advantages-text .advantages-h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  color: #0F172A;
  margin: 0;
}
@media (max-width: 1300px) {
  body .advantages .advantages-text .advantages-h1 {
    font-size: 42px;
  }
}
body .advantages .advantages-text .advantages-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
  max-width: 1280px;
  margin: 0;
  margin-bottom: 80px;
}
@media (max-width: 841px) {
  body .advantages .advantages-text .advantages-p {
    margin-bottom: 15px;
  }
}
body .advantages .advantages-cards {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
@media (max-width: 1300px) {
  body .advantages .advantages-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
body .advantages .advantages-cards .advantages-btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 1300px) {
  body .advantages .advantages-cards .advantages-btns {
    display: grid;
    grid-template-columns: 167px 167px 167px;
    flex-direction: column;
  }
}
@media (max-width: 533px) {
  body .advantages .advantages-cards .advantages-btns {
    grid-template-columns: 167px 167px;
  }
}
@media (max-width: 400px) {
  body .advantages .advantages-cards .advantages-btns {
    grid-template-columns: 167px;
  }
}
body .advantages .advantages-cards .advantages-btns .advantage-btn {
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  background: transparent;
  border: none;
  transition: background-color 0.5s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  transition: 0.5s ease;
}
body .advantages .advantages-cards .advantages-btns .advantage-btn:hover {
  background: #fff;
}
body .advantages .advantages-cards .advantages-btns .active {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  background: #fff;
}
@media (max-width: 841px) {
  body .advantages .advantages-cards .advantages-img {
    width: 80%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  body .advantages .advantages-cards .advantages-img {
    width: 100%;
  }
}
body .advantages .advantages-cards .advantages-img #image {
  transition: opacity 0.3s ease;
}
@media (max-width: 841px) {
  body .advantages .advantages-cards .advantages-img #image {
    width: 80%;
  }
}
@media (max-width: 400px) {
  body .advantages .advantages-cards .advantages-img #image {
    width: 100%;
  }
}
body .articles {
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
  background-color: #fff;
  padding-bottom: 60px;
}
body .articles .articles-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 636px) {
  body .articles .articles-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body .articles .articles-text .articles-h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  color: #0F172A;
}
@media (max-width: 1300px) {
  body .articles .articles-text .articles-h1 {
    font-size: 42px;
    text-align: center;
  }
}
body .articles .articles-text .articles-p {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #78350F;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
body .articles .articles-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
@media (max-width: 1300px) {
  body .articles .articles-cards {
    display: grid;
    grid-template-columns: 302px 302px;
  }
}
@media (max-width: 672px) {
  body .articles .articles-cards {
    grid-template-columns: 302px;
  }
}
body .articles .articles-cards .article-card {
  display: flex;
  flex-direction: column;
  max-width: 302px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #E2E8F0;
  justify-content: center;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
body .articles .articles-cards .article-card .article-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  user-select: none;
}
body .articles .articles-cards .article-card .article-card-h2 {
  padding: 0 12px;
}
body .articles .articles-cards .article-card .article-card-p {
  padding: 0 12px;
}
body .articles .articles-cards .article-card .articles-p {
  padding: 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #78350F;
  cursor: pointer;
  gap: 16px;
}
body .events {
  display: flex;
  flex-direction: column;
}
body .events .events-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 636px) {
  body .events .events-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body .events .events-text .events-h2 {
  font-size: 56px;
  color: #0F172A;
  font-weight: 800;
  line-height: 110%;
}
@media (max-width: 1300px) {
  body .events .events-text .events-h2 {
    font-size: 42px;
  }
}
body .events .events-text .events-p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  color: #78350F;
}
body .events .events-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
@media (max-width: 1300px) {
  body .events .events-cards {
    display: grid;
    grid-template-columns: 302px 302px;
  }
}
@media (max-width: 672px) {
  body .events .events-cards {
    grid-template-columns: 302px;
  }
}
body .events .events-cards .event-card {
  flex-direction: column;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #fff;
  padding: 24px 16px 0px 16px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
body .events .events-cards .event-card .theme-event {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  color: #0F172A;
}
body .events .events-cards .event-card .name-event {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  color: #0F172A;
  margin: 16px 0;
}
body .events .events-cards .event-card .buy-tickets {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
body .collect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0F172A;
  padding-top: 80px;
  margin-top: 80px;
  padding-bottom: 80px;
}
body .collect .collect-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 794px) {
  body .collect .collect-text {
    flex-direction: column;
  }
}
body .collect .collect-text .collect-h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
}
@media (max-width: 1300px) {
  body .collect .collect-text .collect-h1 {
    font-size: 42px;
    text-align: center;
  }
}
body .collect .collect-text .collect-btn {
  color: #fff;
  padding: 15px 24px;
  border-radius: 8px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.5s ease;
}
@media (max-width: 794px) {
  body .collect .collect-text .collect-btn {
    margin-bottom: 40px;
  }
}
body .collect .collect-text .collect-btn:hover {
  background-color: #fff;
  color: #0F172A;
}
body .line {
  background-color: grey;
  width: 80%;
  margin: 0 auto;
  height: 1px;
}
body footer {
  background-color: #0F172A;
}
body footer .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
body footer .footer .a-navs {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-top: 48px;
}
@media (max-width: 1300px) {
  body footer .footer .a-navs {
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 70px;
  }
}
@media (max-width: 636px) {
  body footer .footer .a-navs {
    display: flex;
    flex-direction: column;
  }
}
body footer .footer .a-navs .a-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body footer .footer .a-navs .a-nav .p-nav {
  color: #fff;
  margin: 0;
  font-weight: 800;
}
body footer .footer .a-navs .a-nav .footer-a-nav {
  color: #fff;
  text-decoration: none;
}
body footer .footer .a-navs .a-nav .footer-a-nav:hover {
  text-decoration: underline;
}
body footer .footer .a-navs .a-nav .follow {
  margin: 0;
  margin-bottom: -10px;
  color: #fff;
}
body footer .footer .a-navs .a-nav .google-play {
  cursor: pointer;
}
body footer .footer .a-navs .a-nav .app-store {
  cursor: pointer;
}
body footer .footer .a-navs .a-nav .social .social-img {
  cursor: pointer;
}
body footer .terms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
@media (max-width: 636px) {
  body footer .terms {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body footer .terms .rights .rights-p {
  color: #fff;
}
body footer .terms .confidecial {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
body footer .terms .confidecial .confidecial-p {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}
body footer .terms .confidecial .confidecial-p:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
